*{
    margin: 0;
    padding: 0;

}

.container{
   background: url('./img/bg2.jpg') no-repeat center center;
   height: 800px;
   width: 350px;
   margin: auto;
   justify-content: center;
   align-items: center;
   margin-top: 15px;
   border: 1px solid black;
   border-radius: 23px;
   box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, 
   rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, 
   rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#time{
    color: black;
    font-size: 74px;
    text-align: center;
    margin-top: 70px;
    font-weight: bold;
}
#date{
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.box1{
    border: 1px solid black;
    background-color: rgba(3, 3, 3, 0.2);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
    border-radius: 22px;
    display: flex;
    padding: 10px;
    
}
.day{
    padding: 3px;
}
#thu{
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin-top: 0px;
    padding: 10px;
   
}
#dayname{
    
    color: black;
    font-weight: bold;
    margin-top: 20px;
    z-index: -1;
    margin-left: 10px;

}

.box2{
    border: 1px solid black;
    background-color: rgba(3, 3, 3, 0.2);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
    border-radius: 22px;
    padding: 10px;
   
    
}
.city{
    display: flex;
    color: black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


#btn{
    background: none;
    float: right;
     margin-left: 120px;
     border: none;
    font-size: 29px;
    color: black;
    display: flex;  
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.weather{
    display: flex;
}
.text{
    margin-left: 20px;
    font-weight: bold;
    margin-top: 50px;

}
.text>p{
    font-size: 15px;
}
#image{
    object-fit: contain;
    height: 100px;
    width: 100px;
    margin-top: 50px;
    margin-left: 60px;
    
}

#wth-logo{
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin-top: 40px;
    margin-left: 25px;
}
#wth-txt{
    margin-left: 25px;
    font-weight: bold;
}

.box3{
    display: flex;
    flex-direction: row;
}
.weather-logo{
    padding: 14px;
}
